@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Roboto, sans-serif;
  background-color: #d3d3d3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  max-width: 50em;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 a {
  font-family: Bungee, cursive;
  text-decoration: none;
  color: #fff;
}

img {
  padding: .5em;
  width: 100%;
  height: auto;
  max-width: 50em;
}

header {
  padding: .5rem 0;
  background-color: #ccc;
  text-align: center;
}

nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  text-align: left;
}

nav a {
  display: block;
  padding: .5em .75em;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

p {
  margin: 0 0 1.3rem;
}

figcaption {
  font-size: .8em;
  text-align: center;
}

.banner {
  margin: 0 0 1em;
  background-color: #e2e2e2;
}

.img-flex {
  width: 100%;
  margin: 0;
  display: block;
}

.banner-content {
  background-color: #e2e2e2;
  width: 100%;
  text-align: left;
  padding: 0 1.5rem;
}

.banner-content h2 {
  font-family: "Denk One", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.banner-content p {
  margin: 0;
  padding-bottom: 1rem;
}

.bonbons {
  width: 50%;
  height: auto;
  max-width: 50em;
  display: block;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    text-align: center;
  }

  .bonbons {
    width: 33.3%;
    height: auto;
    max-width: 50em;
    float: left;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .bonbons {
    width: 33.3%;
    height: auto;
    max-width: 50em;
    float: left;
  }

  .banner {
    position: relative;
  }

  .banner-content {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    max-width: 40%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  nav li {
    display: inline-block;
    text-align: center;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
